.nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.Navbar {
  display: flex;
  justify-content: space-between;
}
.stream_logo {
  content: url("../Images/Streamverselogo.png");
  height: 130px;
  width: 150px;
  position: fixed;
  cursor: pointer;
  left: 0;
  object-fit: contain;
  margin-top: -15px;
}

.stream_avatar {
  content: url("../Images/Avatar.png");
  height: 50px;
  width: 50px;
  position: fixed;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 30px;
}

.nav_black {
  /* background-color: #111; */
}
